nav{
  z-index: 1000;
  background-image: linear-gradient(black, transparent);
  color: white;
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav img{
  margin-top: 10px;
  transition: filter 0.5s;
}
nav a{
  text-decoration: none;
}
.nav-content span{
  padding: 10px 17.5px;
  font-size: large;
  color: white;
  text-decoration: none;
  border-bottom: 0px solid transparent;
  transition: border-bottom 0.5s, color 0.5s;
}
.nav-content span:hover{
  cursor: pointer;
  color: #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.nav-content{
  float: right;
}
.nav-content a{
  padding: 10px 17.5px;
}
.logo{
  padding: 20px 35px;
}
.logo img:hover{
  filter: brightness(60%);
}

