<div class="content">
  <nav>
    <a href="#"><span class="logo"><img src="../../assets/kopac-icon.ico" alt="kopac-icon" height="55" width="55"></span></a>
    <div class="nav-content">
      <a href="#"><span>Domov</span></a>
      <a href="#"><span>Dynmapa</span></a>
      <a href="#"><span>Nábor</span></a>
    </div>
    <a href=""><span class="profile-picture"><img src="https://freesvg.org/img/abstract-user-flat-4.png" alt="profile-picture" height="55" width="55"></span></a>
    <div class="menu-icon">
      <a href=""><span><img src="../../assets/menu-icon.png" alt="menu-icon" height="30" width="35"></span></a>
    </div>
  </nav>
</div>


<!--<mat-toolbar>
  <span>My web app</span>
  <span class="spacer"></span>
  @if (authService.authenticated()) {
    <button mat-button (click)="logout()">Logout</button>
  } @else {
    <button mat-button [routerLink]="['/login']">Login</button>
    <button mat-button [routerLink]="['/register']">Registration</button>
  }
</mat-toolbar>-->
