nav{
  z-index: 9999;
  background-image: linear-gradient(black, transparent);
  color: white;
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav span{
  padding: 20px 35px;
  font-size: 25px;
  color: white;
  cursor: default;
  font-weight: bold;
}
nav img{
  margin-top: 10px;
  transition: filter 0.5s;
}
nav img:hover{
  filter: brightness(60%);
}
nav a{
  padding: 20px 35px;
  font-size: large;
  color: white;
  text-decoration: none;
  border-bottom: 0px solid transparent;
  transition: border-bottom 0.5s, color 0.5s;
}
nav a:hover{
  cursor: pointer;
  color: #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.nav-content{
  float: right;
}
