<title>Login</title>
<div class="content">
  <form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <img src="../../assets/kopac-icon.ico" alt="kopac-icon" height="55" width="55">
    <div class="field">
      <label>Minecraft username:</label><br>
      <div class="input-field">
      <input type="text" formControlName="mc_nickname" placeholder="Minecrafter" required>
    </div>
    </div>

    <div class="field">
      <label>Discord username:</label><br>
      <div class="input-field">
      <input type="text" formControlName="dc_tag" placeholder="Minecrafter#1255" required>
    </div>
    </div>

    <div class="field">
        <label>Write down a reason why we should accept your request:</label><br>
        <div class="input-field">
        <textarea type="text" formControlName="reason" maxlength="200" [(ngModel)]="userMessage" placeholder="I like vanilla survival..." (input)="updateLength()"></textarea>
    </div>
    @if(userMessage.length > 0){
      <div class="text-length">{{ userInputLength }} / 200</div>
    }
    @else{
      <div class="empty"></div>
    }
    </div>

    <button type="submit" (click)="onSubmit()">Send</button>
  </form>
</div>
