.first-part{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.first-part::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-text{
    color: white;
    text-align: center;
    width: 50%;
    padding-bottom: 120px;
}
.title-text h1{
    font-weight: bold;
    font-size: 55px;
}
.select{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.about-server, .dynmap, .members{
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3); /*to stvrte je opacity*/
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    transition: background-color 0.8s;
}
.option-1, .option-2, .option-3{
    margin: 10px;
    background-color: transparent;
    transition: background-color 0.8s;
    border-radius: 20px;
}
.option-1:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    .about-server{
        background-color: transparent;
    }
}
.option-2:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    .dynmap{
        background-color: transparent;
    }
}
.option-3:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    .members{
        background-color: transparent;
    }
}
.select h3{
    margin-bottom: 8px;
    margin-left: 4px;
    margin-right: 4px;
}
.about-server-text, .members-list{
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 70px;
}
.second-part h1{
    font-weight: bold;
    font-size: 30px;
}