<title>Home</title>
<div class="first-part">
    <div class="title">
        <div class="title-text">
            <img src="../../assets/kopac-title.png" alt="kopac-title" height="100" width="400"><br><br>
            <div class="select">
                <a href="#aboutServer">
                    <div class="option-1">
                        <div class="about-server"><img src="https://wikis.tid.es/gvp-public/images/thumb/9/9f/Infobox_info_icon_white.svg.png/600px-Infobox_info_icon_white.svg.png" alt="info" height="35" width="35"></div>
                        <h3>O serveri</h3>
                    </div>
                </a>
                <a href="">
                    <div class="option-2">
                        <div class="dynmap"><img src="https://icon-library.com/images/white-map-icon/white-map-icon-16.jpg" alt="map" height="35" width="35"></div>
                        <h3>Dynmapa</h3>
                    </div>
                </a>
                <a href="#membersList">
                    <div class="option-3">
                        <div class="members"><img src="../../assets/members.png" alt="members" height="35" width="35"></div>
                        <h3>Členovia</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="second-part">
    <div class="about-server-text" id="aboutServer">
        <h1>O serveri</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi fugit, deleniti perspiciatis dolores ad porro veritatis, modi quod impedit soluta ullam mollitia omnis voluptates delectus repellat eveniet officiis asperiores? Commodi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam fugit, temporibus, cupiditate adipisci ratione, reiciendis consequatur iure dolores quaerat consectetur aliquid voluptas eveniet minima nulla aperiam aut aspernatur ea quidem! Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque nisi dolor tempora itaque suscipit exercitationem distinctio, dicta recusandae velit ad voluptate. Velit ratione deserunt sed expedita veniam qui ipsam molestiae.</p>
    </div>
    <div class="members-list" id="membersList">
        <h1>Zoznam členov</h1>
        <div class="members">
            <ng-container *ngFor="let player of playersData">
                <div class="member">
                    <img [src]="player.playerSkin" [alt]="player.playerName" height="65" width="65">
                    <div class="member-text">
                        <h2>{{player.playerName}}</h2>
                        <p>{{player.playerDescription}}</p>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>

