.first-part{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.first-part::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-text{
    color: white;
    text-align: center;
    width: 50%;
    padding-bottom: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.title-text h1{
    font-weight: bold;
    font-size: 55px;
}
.select{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.about-server, .dynmap, .members{
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3); /*to stvrte je opacity*/
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    transition: background-color 0.2s;
}
.option-1, .option-2, .option-3{
    margin: 10px;
    background-color: transparent;
    transition: background-color 0.2s;
    border-radius: 20px;
}
.option-1:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    .about-server{
        background-color: transparent;
    }
}
.option-2:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    .dynmap{
        background-color: transparent;
    }
}
.option-3:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    .members{
        background-color: transparent;
    }
}
.select h3{
    margin-bottom: 8px;
    margin-left: 4px;
    margin-right: 4px;
}
.about-server-text, .members-list{
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 70px;
}
.second-part{
    padding-top: 40px;
}
.second-part h1{
    font-weight: bold;
    font-size: 25px;
}
.members{
    display: flex;
    justify-content:first baseline;
    flex-wrap: wrap; 
    gap: 16px;
}
.member-text{
    padding: 20px;
    width: 85%;
    display: flex;
    flex-direction: column;
}
.member img{
    padding: 20px;
    max-width: 100%;
    margin-right: 15px;
}
.member{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 30%;
    background-color: #f9f9f9;
    border-radius: 8px;
}
p{
    font-size: larger;
}
a{
    text-decoration: none;
    color: white;
}
h2{
    font-weight: bold;
}
.second-part{
    background-color: white;
}
@media (min-width: 1450px){
    p{
        font-size: 18px;
    }
    h2{
        font-size: 21px;
    }
    h3{
        font-size: 15px;
    }
    .second-part h1{
        font-size: 30px;
    }
}
@media (max-width: 1390px){
    .members{
        justify-content: space-around;
    }
    .member{
        max-width: 30%;
    }
}
@media (max-width: 1250px){
    .member{
        max-width: 450px;
    }
}
@media (max-width: 1080px){
    .members{
        justify-content: center;
    }
    .member{
        max-width: 400px;
    }
}
@media (max-width: 976px){
    .member{
        width: 100%;
        max-width: 100%;
    }
}
@media (max-width: 730px){
    .kopac-title{
        width: 320px;
        height: 90px;
    }
    .select img{
        width: 30px;
        height: 30px;
    }
    .title-text{
        gap: 10px;
    }
    .member{
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .member img{
        margin:0;
        margin-top: 10px;
    }
    .about-server-text, .members-list{
        margin-left: 40px;
        margin-right: 40px;
        padding-bottom: 70px;
    }
}
  