<title>Home</title>
<div class="first-part">
    <div class="title">
        <div class="title-text">
            <img src="../../assets/kopac-title.png" alt="kopac-title" height="100" width="400" class="kopac-title">
            <div class="select">
                <a href="#aboutServer">
                    <div class="option-1">
                        <div class="about-server"><img src="https://wikis.tid.es/gvp-public/images/thumb/9/9f/Infobox_info_icon_white.svg.png/600px-Infobox_info_icon_white.svg.png" alt="info" height="35" width="35"></div>
                        <h3>O serveri</h3>
                    </div>
                </a>
                <a href="http://ms33.hicoria.cloud:59368/" target="_blank">
                    <div class="option-2">
                        <div class="dynmap"><img src="https://icon-library.com/images/white-map-icon/white-map-icon-16.jpg" alt="map" height="35" width="35"></div>
                        <h3>Dynmapa</h3>
                    </div>
                </a>
                <a href="#membersList">
                    <div class="option-3">
                        <div class="members"><img src="../../assets/members.png" alt="members" height="35" width="35"></div>
                        <h3>Členovia</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="second-part">
    <div class="about-server-text" id="aboutServer">
        <h1>O serveri</h1><br>
        <p>Minecraft server <b>Kopač</b> bol založený koncom septembra v roku
            2020. Je to normálny vanilla server , ktorý je doplnený niekoľkými datapackmi a pluginmi. Tieto datapacky a pluginy zlepšujú
            normálny survival, bez jeho kompletného menenia. Komunita servera je veľmi dobrá, ale občas vznikajú hádky a
            vojny, ktoré sú aj tak zbytočné. Každý hráč je vítaný , avšak musí len prejsť náborom, kde ho čakajú
            otázky o survivale. Na serveri si môžu hráči na spawne postaviť vlastné obchody, kde dokážu nakupovať medzi
            hráčmi na serveri a tak si aj zarobiť suroviny ako sú: diamanty, zlato a pod. .<br><br>Nemôžeme zabudnúť
            dodať to, že každý hráč má svoj vlastný štát alebo je súčasťou nejakého štátu. Vo svojom štáte si môže
            robiť čokoľvek (vyhodiť hráča so svojho štátu, pokiaľ nie je vítaný a pod.), ale samozrejeme s dodržiavaním
            pravidiel.</p>
    </div>
    <div class="members-list" id="membersList">
        <h1>Zoznam členov</h1>
        <div class="members">
            <ng-container *ngFor="let player of playersData">
                <div class="member">
                    <img [src]="player.playerSkin" [alt]="player.playerName" height="65" width="65">
                    <div class="member-text">
                        <h2>{{player.playerName}}</h2>
                        <p>{{player.playerDescription}}</p>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>

