<div class="content">
    <div class="title">
        <img src="../../assets/kopac-title.png" alt="kopac-title" height="50" width="200">
    </div>
    <div class="element">
        <h3>Kopač</h3>
        <a href="#">O serveri</a>
    </div>
    <div class="element">
        <h3>Dynmapa</h3>
        <a href="#">Dynmapa</a>
    </div>
    <div class="element">
        <h3>Členovia</h3>
        <a href="#">Zoznam členov</a>
    </div>
    <div class="element">
        <h3>Nábor</h3>
        <a href="#">Formulár</a>
    </div>
</div>
